extends ./layout.pug

block content
    h1 Please check your homework for today
    br
    .row
        -var id = 0
        each homework in homeworks
            .col-4
                -id = homework.id
                -console.log("id ---- ", id)
                #id.card.card-style.rounded-circle.btn(style='width: 12rem;' onclick='toggelColor(`${id}`)')
                    .card-body
                        h5.card-title=homework.name
                        p.card-text
    script.
        function toggelColor(id) {
            var element = document.getElementById("id");
            element.classList.toggle("select-btn");
        }
